@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lora');

/* Defaults */
h1, h2, h3,
h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}
a, p, span,
div, input, button,
footer, header {
  font-family: 'Lora', serif;
}

/* Helpers */
.text-center {
  text-align: center !important;
}
.hidden {
  display: none !important;
}

/* Presets */
#main {
  display: -webkit-flex; /* Safari */
  display: flex;

  -webkit-flex-direction: column; /* Safari 6.1+ */
  flex-direction: column;

  position: relative;

  width: 100vw;
  height: 100vh;
}
.content {
  padding: 15px;

  -webkit-flex: 0; /* Safari 6.1+ */
  flex: 0;
}
.title {
  font-size: 3em;
  line-height: 50px;
}
.btn {
  cursor: pointer;

  background: #FFF;

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

  font-size: 1.3em;

  border: 1px rgb(238, 238, 238) solid;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #EEE;

  padding: 15px;
  width: 200px;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 1px 5px 5px #EEE;
}
.btn:active {
  transform: translateY(4px);
  box-shadow: 1px 1px 5px #EEE;
}
.btn-green {
  background-color: #4CAF50;
  color: #FFF;
}
footer {
  padding: 0 20px 20px;
}
